.p-readings
  max-width 1200px
  margin auto
  display flex
  flex-direction column
  gap 8px
  &__table
    width 100%
    & >>> .table
      width 100%
      border-collapse collapse
      & td
        border 1px solid #f3f4f4
        padding 8px 12px
      & tr
        &:nth-child(odd)
          background-color #f3f3f4
  &__body
    display grid
    grid-template-columns 200px 1fr
    grid-gap 16px

  &__cards
    display grid
    grid-gap 8px
    grid-template-rows min-content
    grid-auto-rows min-content

  &__filter
    display grid
    grid-gap 4px
    &-item
      display flex
      align-items center
      gap 6px
      input, label
        cursor pointer
