.c-fake
  background-color var(--default-grey)
  border-radius 8px
  opacity 0
  transition all 0.2s easy
  animation-name loading
  animation-duration 1.5s
  animation-timing-function ease-out
  animation-iteration-count infinite
  margin 4px 0
@keyframes loading
  from
    opacity 0

  to
    opacity 1
