.c-selection-bar
  display flex
  align-items center
  justify-content center
  width 100%
  position fixed
  bottom 0
  left 0
  padding 32px 5%
  z-index 10
  &__board
    background-color #353535
    width 300px
    padding 8px 16px
    border-radius 8px
    color #FFF
    display grid
    grid-template-columns 20px 1fr 104px
    grid-gap 8px
    align-items center
    font-size 14px
    &-right
      justify-content flex-end
  &__button
    padding 4px 8px !important
    height 30px
    border-radius 6px
    background-color transparent
    color #FFF
    & >>> .c-button__content
      grid-gap 4px
      gap 4px
      font-size 12px
  &__checklist
    &-item
      display flex
      align-items center
      grid-gap 8px
      gap 8px
      margin 8px 0
      cursor pointer
      & > *
        cursor pointer
