.p-reading
  max-width 860px
  margin 0 auto
  &__text
    max-width 700px
    margin 16px auto
    font-size 20px
    line-height 1.6

    h1
      line-height 1.2
    h2
      margin 0
  &__assignee
    display grid
    grid-template-columns 70px 1fr
    grid-gap 8px
    &-avatar
      width 70px
      border-radius 8px
  &__relations
    &-list
      margin-top 16px
      display grid
      grid-template-columns 1fr 1fr
      grid-gap 8px
      @media (max-width 768px)
        grid-template-columns 1fr
  &__section-title
    font-size 24px
  &__downloadable
    display grid
    grid-template-columns 1fr
    grid-gap 8px
    &-item
      display inline-flex
      gap 8px
      align-items center
      padding 12px 16px
      border 1px solid var(--default-grey)
      border-radius 8px
