.c-reading-card
  padding 16px
  border 1px solid var(--default-grey)
  border-radius 8px
  background-color #FFF
  &__tags
    display flex
    gap 4px
    margin 4px 0
  &__title
    font-size 18px
